@import "tailwindcss";

@theme {
  --color-pastel-primary:#D6C0B3;
  --color-pastel-secondary:#AB886D;
  --color-pastel-accent:#493628;
  --color-pastel-neutral:#E4E0E1;
  --font-silkscreen: Silkscreen;
  --font-overpass: Overpass;
  --font-sofia: Sofia;
  --font-lora: Lora;
  --font-limeLight: Limelight
}
